#FounderContainer{
    position: relative;
}
.FounderImageAndInfo {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}
.FounderImageAndInfo img:hover+.FounderInfo{
    transform: translate(10px, 10px);
    transition: .5s;
}
.FounderImageAndInfo .FounderInfo{
    position: absolute;
    right: 10px;
    width: 380px;
    z-index: 66;
    bottom: 10px;
    background-color: 
    rgba(255, 255, 255, 0.237);
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    backdrop-filter: blur(1px);
}
.FounderImageAndInfo .FounderInfo h1{
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.FounderImageAndInfo img {
    width: 400px;
    position: relative;
    z-index: 5;
    border-radius: 10px;
    transition: .5s;
}

.FounderImageAndInfo img:hover {
    transform: translate(10px, 10px);
    transition: .5s;
}
.FounderImageAndInfo img:hover+.ImageOverlayborder{
    border: 1px solid transparent;
    transition: .5s;
}
.FounderImageAndInfo .ImageOverlayborder {
    border: 1px solid rgba(255, 237, 0, 1);
    height: 100%;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: -10px;
    width: 400px;
    border-radius: 10px;
    transition: .5s;
}
.effectImage3{
    position: absolute;
    rotate: 180deg;
    top: -400px;
}