#FounderContainer {
    position: relative;
}

.FounderImageAndInfo {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

#ImageHover:hover .FounderInfo {
    transform: translate(10px, 10px);
    /* transition: .5s; */
}

#ImageHover .FounderInfo {
    position: absolute;
    right: 25px;
    width: 450px;
    z-index: 66;
    bottom: 10px;
    background-color:
        rgba(255, 255, 255, 0.139);
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    height: 260px;
    overflow: hidden;
    /* backdrop-filter: blur(1px); */
}

#ImageHover:hover .FounderInfo {
    height: 430px;
    transition: 1s;
    width: 480px;
    right: 10px;
}

.FounderImageAndInfo .FounderInfo:hover {
    height: 400px;
    transition: 1s;
}

.FounderImageAndInfo .FounderInfo h1 {
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.FounderImageAndInfo img {
    width: 500px;
    position: relative;
    z-index: 5;
    border-radius: 10px;
    transition: .5s;
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
}

#ImageHover:hover img {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

#ImageHover:hover img {
    transform: translate(10px, 10px);
    transition: .5s;
}

.FounderImageAndInfo img:hover+.ImageOverlayborder {
    border: 1px solid transparent;
    transition: .5s;
}

.FounderImageAndInfo .ImageOverlayborder {
    border: 1px solid rgba(255, 237, 0, 1);
    height: 100%;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: -10px;
    width: 500px;
    border-radius: 10px;
    transition: .5s;
}

.effectImage3 {
    position: absolute;
    rotate: 180deg;
    top: -400px;
}

.FounderInfo i {
    font-size: 30px;
    /* color: white; */
}

@media (max-width:769px) {
    .effectImage3 {
        position: absolute;
        rotate: 180deg;
        top: -400px;
        width: 100%;
    }

    .FounderImageAndInfo img {
        width: 100%;
        position: relative;
        z-index: 5;
        border-radius: 10px;
        transition: .5s;
        filter: gray;
        /* IE5+ */
        -webkit-filter: grayscale(1);
        /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .8s ease-in-out;
    }

    #ImageHover:hover .FounderInfo {
        height: 430px;
        transition: 1s;
        width: 100%;
        right: 10px;
    }


    #ImageHover .FounderInfo {
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 66;
        bottom: 10px;
        background-color:
            rgba(255, 255, 255, 0.139);
        padding: 10px;
        border-radius: 10px;
        transition: .5s;
        height: 260px;
        overflow: hidden;
        display: none;
        /* backdrop-filter: blur(1px); */
    }

    .FounderImageAndInfo .ImageOverlayborder {
        border: 1px solid rgba(255, 237, 0, 1);
        height: 100%;
        position: absolute;
        top: 10px;
        bottom: -10;
        right: -10px;
        width: 100%;
        border-radius: 10px;
        transition: .5s;
    }
}