.BackgroundImageOverlay img {
    width: 100%;
}

.BackgroundImageOverlay {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./BackGroundImage.svg");
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    transition: background-image 1s ease-in-out;
}

.BlackOverlay {
    position: absolute;
    top: 0;
    opacity: 0.4;
    width: 100%;
    height: 200vh;
    background-color: black;
}

.WriteUpContent {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WriteUpContent h1 {
    text-transform: uppercase;
    font-size: 90px;
    color: white;
    font-weight: 700;
    color: transparent;
    /* Make the inside of the text transparent */
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    /* Apply red stroke, adjust stroke width as needed */
    text-stroke: 2px rgb(255, 255, 255);

}

.WriteUpContent p {
    font-size: 40px;
    font-weight: 500;
    color: white;
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

.WriteUpContent p span {
    color: #ffed00;
}

@media (max-width:769px) {
    .WriteUpContent h1 {
        text-transform: uppercase;
        font-size: 50px;
        color: white;
        font-weight: 700;
        color: transparent;
        /* Make the inside of the text transparent */
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        /* Apply red stroke, adjust stroke width as needed */
        text-stroke: 2px rgb(255, 255, 255);

    }

    .WriteUpContent p {
        font-size: 20px;
        font-weight: 500;
        color: white;
        width: 70%;
        text-align: center;
        margin: 20px auto;
    }
}