#CompanyQuate{
    position: relative;
}
.CompanyPara{
    font-size: 40px;
    font-weight: 500;
}
#CompanyQuate .AnimatedBtn{
    padding: 10px 50px;
}
.effectImage2{
    position: absolute;
    bottom: -400px;
    right: 0px;
    rotate: 180deg;
    width: 600px;
    height: 900px;
}
#RightSideBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:769px){
    .effectImage2{
        position: absolute;
        bottom: -400px;
        right: 0px;
        rotate: 180deg;
        width: 100%;
        height: 900px;
    }
    #CompanyQuate .row{
        margin: auto;
    }
    #CompanyQuate .row .col-lg-9{
        padding: 0px;
    }
    .CompanyPara{
        font-size: 30px;
        font-weight: 500;
    }
    #RightSideBtn{
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0px;
        margin-top: 20px;
    }
}