#CompanyQuate{
    position: relative;
}
.CompanyPara{
    font-size: 45px;
    font-weight: 700;
}
#CompanyQuate .AnimatedBtn{
    padding: 10px 50px;
}
.effectImage2{
    position: absolute;
    bottom: -400px;
    right: 0px;
    rotate: 180deg;
    width: 600px;
    height: 900px;
}