@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  background-color: rgb(31, 31, 31);
}

p {
  margin: 0px;
  color: white;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
  font-family: "DM Sans", sans-serif;
}


button {
  border: none;
  font-family: "DM Sans", sans-serif;
}


.AnimatedBtn {
  border: none;
  padding: 0px 20px;
  color: black;
  background-color: #ffed00;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.btnBackside {
  border: 1px solid white;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  border-radius: 3px;
  z-index: 2;

}

.AnimatedBtn:hover {
  transform: translate(5px, 5px);
  transition: 0.5s;
  background-color: transparent;
  color: #ffed00;
}

.AnimatedBtn:hover+.btnBackside {
  border: 1px solid #ffed00;
}

.AnimatedBtn i {
  rotate: -45deg;
  font-size: 25px;
  font-weight: 200;
}

.headingContainer hr {
  opacity: 1;
  background-color: #ffed00;
  width: 100%;
  border: 1px solid #ffed00;
  margin: 10px 0px;
}

.sectionheading {
  font-size: 50px;
  font-weight: 400;
  color: white;
  text-align: center;
}

section {
  padding: 5rem 0rem;
}

.row {
  width: 100%;
}

@media (min-width:1300px) and (max-width:3000px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width:769px) {
  .sectionheading {
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-align: start;
  }
}