body {
  background-color: rgb(31, 31, 31);
}

p {
  margin: 0px;
  color: white;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

button {
  border: none;
}


.AnimatedBtn {
  border: none;
  padding: 0px 20px;
  color: black;
  background-color: #ffed00;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 4;
}

.btnBackside {
  border: 1px solid white;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
}

.headingContainer hr {
  opacity: 1;
  background-color: #ffed00;
  width: 100%;
  border: 1px solid #ffed00;
  margin: 10px 0px;
}

.sectionheading {
  font-size: 50px;
  color: white;
  text-align: center;
}

section {
  padding: 8rem 0rem;
}

.row {
  width: 100%;
}